@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('../fonts/BebasNeueRegular/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueRegular/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../fonts/BebasNeueBold/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBold/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold/BebasNeueBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Bebas Neue Thin';
    src: url('../fonts/BebasNeueBold/BebasNeue-Thin.eot');
    src: url('../fonts/BebasNeueBold/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBold/BebasNeue-Thin.woff') format('woff'),
    url('../fonts/BebasNeueBold/BebasNeue-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSansLight/OpenSans-Light.eot');
    src: url('../fonts/OpenSansLight/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansLight/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSansLight/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSansRegular/OpenSans-Regular.eot');
    src: url('../fonts/OpenSansRegular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansRegular/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSansRegular/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/OpenSansSemiBold/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSansSemiBold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansSemiBold/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSansSemiBold/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSansBold/OpenSans-Bold.eot');
    src: url('../fonts/OpenSansBold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansBold/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSansBold/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url('../fonts/OpenSansExtraBold/OpenSans-ExtraBold.eot');
    src: url('../fonts/OpenSansExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansExtraBold/OpenSans-ExtraBold.woff') format('woff'),
    url('../fonts/OpenSansExtraBold/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }